openapi: 3.0.1
info:
  title: Core
  description: All included utility endpoints for Basiq partners
  version: 3.0.0
  termsOfService: 'https://docs.basiq.io/en/collections/440849-privacy-terms-and-common-questions'
  license:
    name: Commercial
    url: https://basiq.io
servers:
  - url: https://au-api.basiq.io
paths:
  /token:
    post:
      tags:
        - Authentication
      summary: Generate an auth token
      description: >-
        Use this endpoint to retrieve a token that will be passed as
        authorization header for Basiq API
      operationId: postToken
      parameters:
        - name: basiq-version
          in: header
          required: true
          schema:
            type: string
            example: '3.0'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                scope:
                  type: string
                userId:
                  type: string
            examples:
              client_access:
                summary: For all client side requests
                value:
                  scope: CLIENT_ACCESS
                  userId: 6dd30ce4-d4ba-11ec-9d64-0242ac120002
              server_access:
                summary: For all server side requests
                value:
                  scope: SERVER_ACCESS
      responses:
        '200':
          description: 'Return token object that will be used for Basiq API requests. '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPostResponse'
        '400':
          description: >-
            Returns error that server cannot or will not process the request as
            it does not conform.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
        - api_key: []
  /users:
    post:
      tags:
        - Users
      summary: Create a user
      description: Creates a new Basiq user object
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createUser'
            examples:
                user:
                  summary: For All Users
                  value:
                    email: gavin@hooli.com
                    mobile: "+61410888666"
                    firstName: Gavin
                    middleName: ""
                    lastName: Belson
                Bcc:
                  summary: For Business Users
                  value: 
                    email: gavin@hooli.com
                    mobile: "+61410888999"
                    firstName: Gavin
                    middleName: middle name
                    lastName: Belson
                    businessName: Manly Accounting PTY LTD
                    businessIdNo: 16 7645 892
                    businessIdNoType: ABN
                    businessAddress:
                      addressLine1: 21 Sydney Rd
                      addressLine2: ''
                      suburb: Manly
                      state: NSW
                      postcode: '2095'
                      countryCode: AUS
                    verificationStatus: true
                    verificationDate: 12/01/2024
        required: true
      responses:
        '201':
          description: Returns the user object if the creation succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPostResponse'
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
        - services_token: []
  /users/{userId}:
    get:
      tags:
        - Users
      summary: Retrieve a user
      description: >-
        Retrieves the details of an existing user. You need only supply the
        unique user identifier that was returned upon user creation.
      operationId: getUser
      parameters:
        - name: userId
          in: path
          description: The identifier of the user to be retrieved.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns a user if a valid user ID was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGetResponse'
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
        - services_token: []
    post:
      tags:
        - Users
      summary: Update a user
      description: >-
        Updates the specified user by setting the values of the parameters
        passed. Any parameters not provided will be left unchanged.
      operationId: updateUser
      parameters:
        - name: userId
          in: path
          description: The identifier of the user to be retrieved.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateUser'
        required: true
      responses:
        '200':
          description: Returns the user object if the update succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPostResponse'
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
        - services_token: []
      x-codegen-request-body-name: user
    delete:
      tags:
        - Users
      summary: Delete a user
      description: >-
        Permanently deletes a user along with all of their associated connection
        details. All data associated with this user will deleted. You need only
        supply the unique user identifier that was returned upon user creation.
      operationId: deleteUser
      parameters:
        - name: userId
          in: path
          description: User identification.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deletion succeeded.
          content: {}
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: >-
            Returns error response code indicates that the server is not ready
            to handle the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusServiceUnavailableError'
      security:
        - services_token: []
  /users/{userId}/consents:
    get:
      tags:
        - Consents
      summary: Retrieve consents
      description: Retrieves a list of the user consents
      operationId: getConsents
      parameters:
        - name: userId
          in: path
          description: The identifier of the user
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns a list of user consents if they exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserConsentGetResponses'
              examples:
                active:
                  value:
                    type: consent
                    id: '61acee1d-4508-4a96-ad48-42fa68e5bc19'
                    created: '2022-11-01T05:07:00Z'
                    updated: '2022-11-01T05:07:00Z'
                    expiryDate: '2023-11-01T05:07:00Z'
                    status: active
                    purpose:
                      primary:
                        title: >-
                          Services requiring full ongoing Personal, Account and
                          Transaction details
                        description: >-
                          We need ongoing access to your Personal, Account and
                          Transaction details in order to fully enable our services.
                    data:
                      retainData: true
                      permissions:
                        - scope: customer.person.detail
                          required: true
                          entity: connection
                          information:
                            name: Name, occupation, contact details
                            description: >-
                              This allows access to personally identifiable
                              information. Specifically your name, occupation,
                              address(es) and contact details.
                            attributeList:
                              - Name
                              - Occupation
                              - Phone
                              - Email address
                              - Mail address
                              - Residential address
                          purpose:
                            title: Your Details
                            description: We need to confirm your identity.
                        - scope: account.detail
                          required: true
                          entity: account
                          information:
                            name: Account balance and details
                            description: >-
                              This allows access to detailed information of your
                              accounts. It includes basic account information plus
                              account identifiers and product information. It does not
                              include transaction data.
                            attributeList:
                              - Name of account
                              - Type of account
                              - Account balance
                              - Account number
                              - Interest rates
                              - Fees
                              - Discounts
                              - Account terms
                              - Account mail address
                          purpose:
                            title: Account Details
                            description: We need to capture your account details.
                        - scope: transaction.detail
                          required: true
                          entity: transaction
                          information:
                            name: Transaction details
                            description: >-
                              This allows access to transaction data for your
                              accounts. It includes all account transaction data.
                            attributeList:
                              - Incoming and outgoing transactions
                              - Amounts
                              - Dates
                              - Descriptions of transactions
                              - Who you have sent money to and received money from
                          purpose:
                            title: Transaction details
                            description: >-
                              This allows access to transaction data for your
                              accounts. It includes all account transaction data.
                    links:
                      self: https://au-api.basiq.io/events/61acee1d-4508-4a96-ad48-42fa68e5bc19
                expired:
                  value:
                    type: consent
                    id: '61acee1d-4508-4a96-ad48-42fa68e5bc19'
                    created: '2022-11-01T05:07:00Z'
                    updated: '2022-11-01T05:07:00Z'
                    expiryDate: '2023-08-29T05:07:00Z'
                    status: expired
                    purpose:
                      primary:
                        title: >-
                          Services requiring full ongoing Personal, Account and
                          Transaction details
                        description: >-
                          We need ongoing access to your Personal, Account and
                          Transaction details in order to fully enable our services.
                    data:
                      retainData: true
                      permissions:
                        - scope: customer.person.detail
                          required: true
                          entity: connection
                          information:
                            name: Name, occupation, contact details
                            description: >-
                              This allows access to personally identifiable
                              information. Specifically your name, occupation,
                              address(es) and contact details.
                            attributeList:
                              - Name
                              - Occupation
                              - Phone
                              - Email address
                              - Mail address
                              - Residential address
                          purpose:
                            title: Your Details
                            description: We need to confirm your identity.
                        - scope: account.detail
                          required: true
                          entity: account
                          information:
                            name: Account balance and details
                            description: >-
                              This allows access to detailed information of your
                              accounts. It includes basic account information plus
                              account identifiers and product information. It does not
                              include transaction data.
                            attributeList:
                              - Name of account
                              - Type of account
                              - Account balance
                              - Account number
                              - Interest rates
                              - Fees
                              - Discounts
                              - Account terms
                              - Account mail address
                          purpose:
                            title: Account Details
                            description: We need to capture your account details.
                        - scope: transaction.detail
                          required: true
                          entity: transaction
                          information:
                            name: Transaction details
                            description: >-
                              This allows access to transaction data for your
                              accounts. It includes all account transaction data.
                            attributeList:
                              - Incoming and outgoing transactions
                              - Amounts
                              - Dates
                              - Descriptions of transactions
                              - Who you have sent money to and received money from
                          purpose:
                            title: Transaction details
                            description: >-
                              This allows access to transaction data for your
                              accounts. It includes all account transaction data.
                    links:
                      self: https://au-api.basiq.io/events/61acee1d-4508-4a96-ad48-42fa68e5bc19
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
        - services_token: []
  /users/{userId}/consents/{consentId}:
    delete:
      tags:
        - Consents
      summary: Delete a consent
      description: Permanently deletes a users consent, this action cannot be undone.
      operationId: deleteConsent
      parameters:
        - name: userId
          in: path
          description: User identification.
          required: true
          schema:
            type: string
        - name: consentId
          in: path
          description: Consent identification.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Deletion succeeded.
          content: {}
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
           application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: >-
            Returns error response code indicates that the server is not ready
            to handle the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusServiceUnavailableError'
      security:
        - services_token: []
  /users/{userId}/auth_link:
    post:
      tags:
      - AuthLinks
      summary: Create an auth_link
      description: |-
        Create a new auth_link object by making a POST request to the auth_link endpoint. The new auth_link will effectively delete previous auth_link for that user, rendering the previous URL(s) invalid.

        The 'mobile' attribute is used for 2FA SMS verification and is conditionally required. If it is not specified, we will look up the mobile on the user object; if that is not specified either, you will get an error.  If both are specified, the mobile number on the auth_link will take precedence.
      operationId: postAuthLink
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mobile:
                  type: string
        required: false
      responses:
        201:
          description: Returns a created auth_link resource, if the operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthLinksPostResponseResource'
        400:
          description: Returns error that server cannot or will not process the request
            due to something that is perceived to be a client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        401:
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        403:
          description: Error that access is forbidden and tied to the application
            logic, such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        404:
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        500:
          description: Returns error response code indicates that the server encountered
            an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
      - services_token: []
    get:
      tags:
      - AuthLinks
      summary: Retrieve an auth_link
      description: Returns the latest/last auth_link generated for the specified user.
        Returns an error otherwise.
      operationId: getAuthLink
      parameters:
      - name: userId
        in: path
        description: The identifier of the user.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Returns details of a connection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthLinksResponseResource'
        400:
          description: Returns error that server cannot or will not process the request
            due to something that is perceived to be a client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        403:
          description: Error that access is forbidden and tied to the application
            logic, such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        404:
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        410:
          description: Returns error indicating that access to the target resource
            is no longer available at the origin server and that this condition is
            likely to be permanent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoneError'
        500:
          description: Returns error response code indicates that the server encountered
            an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        503:
          description: Returns error response code indicates that the server is not
            ready to handle the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusServiceUnavailableError'
      security:
      - services_token: []
    delete:
      tags:
      - AuthLinks
      summary: Delete an auth_link
      description: |-
        <blockquote>Note that this action cannot be undone.</blockquote>

        <blockquote>The auth_link is a URL that directs a User to Basiq's hosted consent workflow to link banks and securely share data. When the user selects 'I have disclosed all my accounts' the auth_link is automatically deleted.</blockquote>

        Returns an empty body if the delete succeeded. Otherwise, this call returns an error in the event of a failure.
      operationId: deleteAuthLink
      parameters:
      - name: userId
        in: path
        description: The identifier of the user.
        required: true
        schema:
          type: string
      responses:
        204:
          description: Returns an empty body if the delete succeeded.
          content: {}
        400:
          description: Returns error that server cannot or will not process the request
            due to something that is perceived to be a client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        404:
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        500:
          description: Returns error response code indicates that the server encountered
            an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        503:
          description: Returns error response code indicates that the server is not
            ready to handle the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusServiceUnavailableError'
      security:
      - services_token: []
  /events:
    get:
      tags:
        - Events
      summary: List all events
      description: Returns a list of all events that have taken place.
      operationId: getEvents
      parameters:
        - name: filter
          in: query
          description: >-
            userId for the specific user you wish to retrieve events for. e.g
            user.id.eq(userId)
            Entity can be filtered with type for events for. e.g
            event.entity.eq(entity), event.type.eq(type)
          schema:
            type: string
            example: user.id.eq(userId) OR event.entity.eq(entity), event.type.eq(type)
      responses:
        '200':
          description: Returns details of events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsGetResponseResource'
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                    Bad Request:
                     value:
                      type: list
                      correlationId: ac5ah5i
                      data:
                        - type: error
                          title: Parameter not valid.
                          code: parameter-not-valid
                          detail: ID value is not valid.
                          source:
                            parameter: id
                    Invalid Filters:
                      value:
                        type: list
                        correlationId: ac5ah55
                        data:
                          - type: error
                            code: parameter-not-valid
                            title: Parameter value is not valid
                            detail: The provided filter parameter is in invalid format or unsupported
                            source:
                              parameter: filter
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: >-
            Returns error response code indicates that the server is not ready
            to handle the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusServiceUnavailableError'
      security:
        - services_token: []
  /events/{id}:
    get:
      tags:
        - Events
      summary: Retrieve an event
      description: >-
          ![Beta](https://img.shields.io/badge/Status-Beta-yellow)
          Returns a single event type based on the parameter input.
      operationId: getTypeById
      parameters:
        - name: id
          required: true
          schema:
            type: string
          in: path
          example: 'a0fa1d01e0c9a1032e29ac74ade5f786e880ae04f4e3788144c6d13b53e5d29b'
      responses:
        '200':
          description: Returns the ID of an event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEvent'
              examples:
                Success:
                  value:
                    type: event
                    id: 5a47115a7eed80a3b68761b725b78c75892e94cef06810ecc0e2e7b856738371
                    createdDate: '2024-04-17T23:57:17Z'
                    entity: connection
                    eventType: updated
                    userId: 84e33255-f65f-4f05-953b-1b12e1e4d90b
                    dataRef: >-
                      https://au-api.basiq.io/users/84e33255-f65f-4f05-953b-1b12e1e4d90b/connections/8bd4f752-c218-4e41-af28-0c42ae982d35
                    data:
                      createdDate: '2024-04-17T23:57:16Z'
                      id: 8bd4f752-c218-4e41-af28-0c42ae982d35
                      institution:
                        id: AU00000
                        links:
                          self: https://au-api.basiq.io/institutions/AU00000
                        type: institution
                      lastUsed: '2024-04-17T23:57:17Z'
                      links:
                        accounts: >-
                          https://au-api.basiq.io/users/84e33255-f65f-4f05-953b-1b12e1e4d90b/accounts?filter=institution.id.eq('AU00000')
                        self: >-
                          https://au-api.basiq.io/users/84e33255-f65f-4f05-953b-1b12e1e4d90b/connections/8bd4f752-c218-4e41-af28-0c42ae982d35
                        transactions: >-
                          https://au-api.basiq.io/users/84e33255-f65f-4f05-953b-1b12e1e4d90b/transactions?filter=institution.id.eq('AU00000')
                      mfaEnabled: false
                      status: active
                      type: connection
                    links:
                      self: >-
                        https://au-api.basiq.io/events/5a47115a7eed80a3b68761b725b78c75892e94cef06810ecc0e2e7b856738371

        '400':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Parameter not valid:
                  value:
                    type: 'list'
                    correlationId: '9b27dbd7-d397-428a-9eff-5048d2bed5eb'
                    data:
                    - type: 'error'
                      code: 'path-parameter-not-valid'
                      title: 'Parameter value is not valid'
                      detail: 'Event Type ID parameter is not valid'
                      source:
                        parameter: 'eventTypeId'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Unauthorized:
                  value:
                    type: 'list'
                    correlationId: '9b27dbd7-d397-428a-9eff-5048d2bed5eb'
                    data:
                    - type: 'error'
                      code: 'unauthorized-access'
                      title: 'Unauthorized Access'
                      detail: 'You are not authorized to access this resource'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Error:
                  value:
                    type: 'list'
                    correlationId: '9b27dbd7-d397-428a-9eff-5048d2bed5eb'
                    data:
                    - type: 'error'
                      code: 'resource-not-found'
                      title: 'Requested resource is not found'
                      detail: 'Requested event type does not exist.'
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Too many requests:
                  value:
                    type: 'list'
                    correlationId: '9b27dbd7-d397-428a-9eff-5048d2bed5eb'
                    data:
                    - type: 'error'
                      code: 'too-many-requests'
                      title: 'Too many requests'
                      detail: 'Query limit reached.'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: >-
            Returns error response code indicates that the server is not ready
            to handle the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusServiceUnavailableError'
      security:
        - services_token: []
  /events/types:
    get:
      tags:
        - Events
      summary: List event types
      description: >-
          ![Beta](https://img.shields.io/badge/Status-Beta-yellow)
          Returns a list of event types.
      operationId: listEventTypes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypes'
              examples:
                Success:
                  value:
                    type: list
                    size: 24
                    count: 24
                    data: 
                      - type: eventType
                        id: connection.created
                        description: when a connection is created
                        links:
                          self: https://au-api.basiq.io/events/types/connection.created
                      - type: eventType
                        id: connection.deleted
                        description: when a connection is deleted
                        links:
                          self: https://au-api.basiq.io/events/types/connection.deleted
                      - type: eventType
                        id: consent.created
                        description: when a consent is created
                        links:
                          self: https://au-api.basiq.io/events/types/consent.created
                      - type: eventType
                        id: consent.expired
                        description: when a consent is expired
                        links:
                          self: https://au-api.basiq.io/events/types/consent.expired
                      - type: eventType
                        id: consent.reminder
                        description: when a consent has been active for 90 days since the last update
                        links:
                          self: https://au-api.basiq.io/events/types/consent.reminder
                      - type: eventType
                        id: consent.revoked
                        description: when a consent is revoked
                        links:
                          self: https://au-api.basiq.io/events/types/consent.revoked
                      - type: eventType
                        id: consent.updated
                        description: when a consent is updated
                        links:
                          self: https://au-api.basiq.io/events/types/consent.updated
                      - type: eventType
                        id: consent.warning
                        description: when a consent is about to expire
                        links:
                          self: https://au-api.basiq.io/events/types/consent.warning
                      - type: eventType
                        id: payment-agreement-instruction.failed
                        description: when an agreement instruction is failed
                        links:
                          self: https://au-api.basiq.io/events/types/payment-agreement-instruction.failed
                      - type: eventType
                        id: payment-agreement-instruction.successful
                        description: when an agreement instruction is successful
                        links:
                          self: https://au-api.basiq.io/events/types/payment-agreement-instruction.successful
                      - type: eventType
                        id: payment-agreement.active
                        description: when an agreement is active
                        links:
                          self: https://au-api.basiq.io/events/types/payment-agreement.active
                      - type: eventType
                        id: payment-agreement.cancelled
                        description: when an agreement is cancelled
                        links:
                          self: https://au-api.basiq.io/events/types/payment-agreement.cancelled
                      - type: eventType
                        id: payment-agreement.suspended
                        description: when an agreement is suspended
                        links:
                          self: https://au-api.basiq.io/events/types/payment-agreement.suspended
                      - type: eventType
                        id: payout.created
                        description: when a payout is created
                        links:
                          self: https://au-api.basiq.io/events/types/payout.created
                      - type: eventType
                        id: payout.failed
                        description: when a payout is failed
                        links:
                          self: https://au-api.basiq.io/events/types/payout.failed
                      - type: eventType
                        id: payout.in-progress
                        description: when a payout is in-progress
                        links:
                          self: https://au-api.basiq.io/events/types/payout.in-progress
                      - type: eventType
                        id: payout.successful
                        description: when a payout is successful
                        links:
                          self: https://au-api.basiq.io/events/types/payout.successful
                      - type: eventType
                        id: payrequest.created
                        description: when a payrequest is created
                        links:
                          self: https://au-api.basiq.io/events/types/payrequest.created
                      - type: eventType
                        id: payrequest.failed
                        description: when a payrequest is failed
                        links:
                          self: https://au-api.basiq.io/events/types/payrequest.failed
                      - type: eventType
                        id: payrequest.in-progress
                        description: when a payrequest is in-progress
                        links:
                          self: https://au-api.basiq.io/events/types/payrequest.in-progress
                      - type: eventType
                        id: payrequest.successful
                        description: when a payrequest is successful
                        links:
                          self: https://au-api.basiq.io/events/types/payrequest.successful
                      - type: eventType
                        id: user.created
                        description: when an user is created
                        links:
                          self: https://au-api.basiq.io/events/types/user.created
                      - type: eventType
                        id: user.deleted
                        description: when an user is deleted
                        links:
                          self: https://au-api.basiq.io/events/types/user.deleted
                      - type: eventType
                        id: user.updated
                        description: when an user is updated
                        links:
                          self: https://au-api.basiq.io/events/types/user.updated

                    links:
                      self: 'https://au-api.basiq.io/events/types/'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Unauthorized:
                  value:
                    type: 'list'
                    correlationId: '9b27dbd7-d397-428a-9eff-5048d2bed5eb'
                    data:
                    - type: 'error'
                      code: 'unauthorized-access'
                      title: 'Unauthorized Access'
                      detail: 'You are not authorized to access this resource'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Too many requests:
                  value:
                    type: 'list'
                    correlationId: '9b27dbd7-d397-428a-9eff-5048d2bed5eb'
                    data:
                    - type: 'error'
                      code: 'too-many-requests'
                      title: 'Too many requests'
                      detail: 'Query limit reached.'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: >-
            Returns error response code indicates that the server is not ready
            to handle the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusServiceUnavailableError'
      security:
        - services_token: []
  /events/types/{id}:
    get:
      tags:
        - Events
      summary: Retrieve an event type
      description: >-
          ![Beta](https://img.shields.io/badge/Status-Beta-yellow)
          Returns a single event type based on the parameter input.
      operationId: getEventTypeById
      parameters:
        - name: id
          required: true
          schema:
            type: string
          in: path
          example: 'user.created'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
              examples:
                Success:
                  value:
                    id: payrequest.successful
                    description: when a payrequest is successful
                    links:
                      self: 'https://au-api.basiq.io/events/types/user.created'
        '400':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Parameter not valid:
                  value:
                    type: 'list'
                    correlationId: '9b27dbd7-d397-428a-9eff-5048d2bed5eb'
                    data:
                    - type: 'error'
                      code: 'path-parameter-not-valid'
                      title: 'Parameter value is not valid'
                      detail: 'Event Type ID parameter is not valid'
                      source:
                        parameter: 'eventTypeId'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Unauthorized:
                  value:
                    type: 'list'
                    correlationId: '9b27dbd7-d397-428a-9eff-5048d2bed5eb'
                    data:
                    - type: 'error'
                      code: 'unauthorized-access'
                      title: 'Unauthorized Access'
                      detail: 'You are not authorized to access this resource'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Error:
                  value:
                    type: 'list'
                    correlationId: '9b27dbd7-d397-428a-9eff-5048d2bed5eb'
                    data:
                    - type: 'error'
                      code: 'resource-not-found'
                      title: 'Requested resource is not found'
                      detail: 'Requested event type does not exist.'
        '429':
          description: 'Too many requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Too many requests:
                  value:
                    type: 'list'
                    correlationId: '9b27dbd7-d397-428a-9eff-5048d2bed5eb'
                    data:
                    - type: 'error'
                      code: 'too-many-requests'
                      title: 'Too many requests'
                      detail: 'Query limit reached.'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: >-
            Returns error response code indicates that the server is not ready
            to handle the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusServiceUnavailableError'
      security:
        - services_token: []
  /users/{userId}/jobs:
    get:
      tags:
        - Jobs
      summary: Get user jobs
      description: >-
        Retrieves the details of all existing and previous jobs associated with
        a user.
      operationId: getUserJobs
      parameters:
        - name: userId
          in: path
          description: User identifier
          required: true
          schema:
            type: string
        - name: filter
          in: query
          description: Connection identification filter. e.g. connection.id.eq('ab63cd')
          schema:
            type: string
      responses:
        '200':
          description: Returns a list of jobs with details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsResponseResource'
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
        - services_token: []
  /jobs/{jobId}:
    get:
      tags:
        - Jobs
      summary: Retrieve a job
      description: >-
        Retrieves the details of an existing job. You need only supply the
        unique job identifier that was returned upon job creation.
      operationId: getJobs
      parameters:
        - name: jobId
          in: path
          description: The identifier of the job to be retrieved.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns a job details if a valid job ID was provided.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/job'
                - $ref: "#/components/schemas/StatementJobs"
              examples:
                Data - in progress:
                  value:
                    type: job
                    id: 'e9132638'
                    created: '2020-06-10T09:59:00Z'
                    updated: '2020-06-10T09:59:00Z'
                    steps:
                    - title: verify-credentials
                      status: success
                      result:
                        type: link
                        url: "/users/ea3a81/connections/8fce3b"
                    - title: retrieve-accounts
                      status: in-progress
                      result: null
                    - title: retrieve-transactions
                      status: pending
                      result: null
                    links:
                      self: https://au-api.basiq.io/jobs/61723
                      source: https://au-api.basiq.io/users/ea3a81/connections/8fce3b
                statement-success:
                  value:
                    type: job
                    id: a2a17e84-460c-43f4-9c94-1398a5b4c148
                    createdDate: '2024-03-21T23:51:37Z'
                    updatedDate: '2024-03-21T23:51:48Z'
                    jobType: report
                    sourceId: a2a17e84-460c-43f4-9c94-1398a5b4c148
                    steps:
                    - title: create-report
                      status: success
                      result:
                        type: report
                        url: "/reports/a2a17e84-460c-43f4-9c94-1398a5b4c148"
                    links:
                      self: https://au-api.basiq.io/jobs/a2a17e84-460c-43f4-9c94-1398a5b4c148
                      source: https://au-api.basiq.io/reports/a2a17e84-460c-43f4-9c94-1398a5b4c148
                Mygov - in progress:
                  value:
                    type: job
                    id: ff6fc9d4-13da-45e4-8c6b-acdeadc40a1c
                    created: '2023-04-11T00:41:34Z'
                    updated: '2023-04-11T00:41:37Z'
                    jobType: connection
                    steps:
                      - title: verify-credentials
                        status: success
                        result:
                          type: link
                          url: /users/ca23bab2-ef8e-44cc-bf75-4d6c9dbcbb87/connections/b525059f-51fd-434d-8ee5-77fb35837f65
                      - title: retrieve-accounts
                        status: success
                        result:
                          type: link
                          url: /users/ca23bab2-ef8e-44cc-bf75-4d6c9dbcbb87/accounts?filter=institution.id.eq('AU00004')
                      - title: retrieve-transactions
                        status: success
                        result:
                          type: link
                          url: /users/ca23bab2-ef8e-44cc-bf75-4d6c9dbcbb87/transactions?filter=institution.id.eq('AU00004')
                      - title: retrieve-statements
                        status: in-progress
                        result: null
                Mygov - Completed:
                  value:
                    type: job
                    id: ff6fc9d4-13da-45e4-8c6b-acdeadc40a1c
                    created: '2023-04-11T00:41:34Z'
                    updated: '2023-04-11T00:41:37Z'
                    jobType: connection
                    steps:
                      - title: verify-credentials
                        status: success
                        result:
                          type: link
                          url: /users/ca23bab2-ef8e-44cc-bf75-4d6c9dbcbb87/connections/b525059f-51fd-434d-8ee5-77fb35837f65
                      - title: retrieve-accounts
                        status: success
                        result:
                          type: link
                          url: /users/ca23bab2-ef8e-44cc-bf75-4d6c9dbcbb87/accounts?filter=institution.id.eq('AU00004')
                      - title: retrieve-transactions
                        status: success
                        result:
                          type: link
                          url: /users/ca23bab2-ef8e-44cc-bf75-4d6c9dbcbb87/transactions?filter=institution.id.eq('AU00004')
                      - title: retrieve-statements
                        status: success
                        result:
                          type: link
                          url: /users/ca23bab2-ef8e-44cc-bf75-4d6c9dbcbb87/statements
                payrequest - in progress:
                  value:
                    type: job
                    id: 'b1824ad0-73f1-0138-3700-0a58a9feac09'
                    partnerId: e73ffa09-742f-4be3-9aae-0ad077f041a1
                    applicationId: 3e2863df-43d1-405d-b104-701bcb34e184
                    created: '2016-06-08T09:10:32.000Z'
                    updated: '2016-06-08T09:14:28.000Z'
                    status: in-progress
                    jobType: payrequest
                    steps:
                    - title: validate-payment
                      status: success
                      result:
                        type: link
                        url: "/payments/payrequests/b1824ad0-73f1-0138-3700-0a58a9feac09"
                    - title: external-processing
                      status: in-progress
                      result: null
                    links:
                      self: "/jobs/b1824ad0-73f1-0138-3700-0a58a9feac09"
                      source: "/payments/payrequests/b1824ad0-73f1-0138-3700-0a58a9feac09"
                payout - failed:
                  value:
                    type: job
                    id: 'b1824ad0-73f1-0138-3700-0a58a9feac09'
                    partnerId: e73ffa09-742f-4be3-9aae-0ad077f041a1
                    applicationId: 3e2863df-43d1-405d-b104-701bcb34e184
                    created: '2016-06-08T09:10:32.000Z'
                    updated: '2016-06-08T09:14:28.000Z'
                    status: failed
                    jobType: payout
                    steps:
                    - title: validate-payment
                      status: failed
                      result:
                        type: error
                        code: 'missing-payee-account-details.'
                        title: 'Missing Payee account details.'
                        detail: 'Please specify payee account details.'
                    links:
                      self: "/jobs/b1824ad0-73f1-0138-3700-0a58a9feac09"
                      source: "/payments/payouts/b1824ad0-73f1-0138-3700-0a58a9feac09"
                payout - completed:
                  value:
                    type: job
                    id: 'b1824ad0-73f1-0138-3700-0a58a9feac09'
                    partnerId: e73ffa09-742f-4be3-9aae-0ad077f041a1
                    applicationId: 3e2863df-43d1-405d-b104-701bcb34e184
                    created: '2016-06-08T09:10:32.000Z'
                    updated: '2016-06-08T09:14:28.000Z'
                    status: success
                    jobType: payout
                    steps:
                    - title: validate-payment
                      status: success
                      result:
                        type: link
                        url: "/payments/payouts/b1824ad0-73f1-0138-3700-0a58a9feac09"
                    - title: external-processing
                      status: success
                      result:
                        type: link
                        url: "/payments/payouts/b1824ad0-73f1-0138-3700-0a58a9feac09"
                    - title: payment-completed
                      status: success
                      result:
                        type: link
                        url: "/payments/payouts/b1824ad0-73f1-0138-3700-0a58a9feac09"
                    links:
                      self: "/jobs/b1824ad0-73f1-0138-3700-0a58a9feac09"
                      source: "/payments/payouts/b1824ad0-73f1-0138-3700-0a58a9feac09"
                report - in progress:
                  value:
                    type: job
                    id: 'b1824ad0-73f1-0138-3700-0a58a9feac09'
                    partnerId: e73ffa09-742f-4be3-9aae-0ad077f041a1
                    applicationId: 3e2863df-43d1-405d-b104-701bcb34e184
                    created: '2016-06-08T09:10:32.000Z'
                    updated: '2016-06-08T09:14:28.000Z'
                    status: in-progress
                    jobType: report
                    steps:
                    - title: create-report
                      status: in-progress
                      result: null
                    links:
                      self: "/jobs/b1824ad0-73f1-0138-3700-0a58a9feac09"
                      source: "/reports/b1824ad0-73f1-0138-3700-0a58a9feac09"
                report - success:
                  value:
                    type: job
                    id: 'b1824ad0-73f1-0138-3700-0a58a9feac09'
                    partnerId: e73ffa09-742f-4be3-9aae-0ad077f041a1
                    applicationId: 3e2863df-43d1-405d-b104-701bcb34e184
                    created: '2016-06-08T09:10:32.000Z'
                    updated: '2016-06-08T09:14:28.000Z'
                    status: success
                    jobType: report
                    steps:
                    - title: create-report
                      status: success
                      result:
                        type: link
                        url: "/reports/b1824ad0-73f1-0138-3700-0a58a9feac09"
                    links:
                      self: "/jobs/b1824ad0-73f1-0138-3700-0a58a9feac09"
                      source: "/reports/b1824ad0-73f1-0138-3700-0a58a9feac09"
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
        - services_token: []
  /jobs/{jobId}/mfa:
    post:
      tags:
      - Jobs
      summary: 'Create MFA response'
      description: |-
        Ensure that you generate an authentication token with
        scope = CLIENT_ACCESS and basiq-version = 3.0 to create this resource
      operationId: postJobMfa
      parameters:
      - name: jobId
        in: path
        description: The identifier of the job.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobPostRequest'
        required: true
      responses:
        202:
          description: Returns a job if MFA response was correct. Returns an error
            otherwise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponseResource'
        400:
          description: Returns error that server cannot or will not process the request
            due to something that is perceived to be a client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        401:
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        403:
          description: Error that access is forbidden and tied to the application
            logic, such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        404:
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        500:
          description: Returns error response code indicates that the server encountered
            an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
      - services_token: []
  /users/{userId}/accounts:
    get:
      tags:
      - Accounts
      summary: List all accounts
      description: List all accounts belonging to a user
      operationId: getAccounts
      parameters:
      - name: userId
        in: path
        description: User identifier
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Account filters; account.id, connection.id, institution.id, Only equals (eq) and not equals (ne) operations are currently supported.
        schema:
          type: string
      responses:
        200:
          description: Returns a account with details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponseResource'
        400:
          description: Returns error that server cannot or will not process the request
            due to something that is perceived to be a client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                      Bad Request:
                       value:
                        type: list
                        correlationId: ac5ah5i
                        data:
                          - type: error
                            title: Parameter not valid.
                            code: parameter-not-valid
                            detail: ID value is not valid.
                            source:
                              parameter: id
                      Invalid Filters:
                        value:
                          type: list
                          correlationId: ac5ah55
                          data:
                            - type: error
                              code: parameter-not-valid
                              title: Parameter value is not valid
                              detail: The provided filter parameter is in invalid format or unsupported
                              source:
                                parameter: filter
        403:
          description: Error that access is forbidden and tied to the application
            logic, such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        404:
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        500:
          description: Returns error response code indicates that the server encountered
            an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
      - services_token: []
  /users/{userId}/accounts/{accountId}:
    get:
      tags:
      - Accounts
      summary: Retrieve an account
      description: Retrieve a specific account belonging to a user
      operationId: getAccount
      parameters:
      - name: userId
        in: path
        description: User identifier
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: Account identifier
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Account filters; account.id, connection.id, institution.id, Only equals (eq) and not equals (ne) operations are currently supported.
        schema:
          type: string
      responses:
        200:
          description: Returns a account with details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseResource'
        400:
          description: Returns error that server cannot or will not process the request
            due to something that is perceived to be a client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        403:
          description: Error that access is forbidden and tied to the application
            logic, such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        404:
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        500:
          description: Returns error response code indicates that the server encountered
            an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
      - services_token: []
  /users/{userId}/transactions:
    get:
      tags:
      - Transactions
      summary: List all transactions
      description: List all transactions belonging to a specified user
      operationId: getTransactions
      parameters:
      - name: userId
        in: path
        description: User identifier.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: This represents the maximum number of items that may be included
          in the response (maximum of 500). Note that by default 500 items are returned
          if this value is not specified.
        schema:
          type: integer
          format: int64
          default: 500
      - name: filter
        in: query
        description: Transaction filters; account.id, transaction.postDate, transaction.status, institution.id, transaction.direction, transaction.class
        schema:
          type: string
      responses:
        200:
          description: 'Returns a paginated list with a data property that contains
            an array of transactions. Each entry in the array is a separate object.
            If no data is returned, the resulting array will be empty. '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsGetResource'
        400:
          description: Returns error that server cannot or will not process the request
            due to something that is perceived to be a client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                    Bad Request:
                     value:
                      type: list
                      correlationId: ac5ah5i
                      data:
                        - type: error
                          title: Parameter not valid.
                          code: parameter-not-valid
                          detail: ID value is not valid.
                          source:
                            parameter: id
                    Invalid Filters:
                      value:
                        type: list
                        correlationId: ac5ah55
                        data:
                          - type: error
                            code: parameter-not-valid
                            title: Parameter value is not valid
                            detail: The provided filter parameter is in invalid format or unsupported
                            source:
                              parameter: filter
        403:
          description: Error that access is forbidden and tied to the application
            logic, such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        404:
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        500:
          description: Returns error response code indicates that the server encountered
            an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
      - services_token: []
  /users/{userId}/transactions/{transactionId}:
    get:
      tags:
      - Transactions
      summary: Retrieve a transaction
      description: Retrieve an existing transaction
      operationId: getTransaction
      parameters:
      - name: userId
        in: path
        description: The identifier of the user.
        required: true
        schema:
          type: string
      - name: transactionId
        in: path
        description: The identifier of the transaction.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Returns a transaction if a valid transaction ID was provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionData'
        400:
          description: Returns error that server cannot or will not process the request
            due to something that is perceived to be a client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        403:
          description: Error that access is forbidden and tied to the application
            logic, such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        404:
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        500:
          description: Returns error response code indicates that the server encountered
            an unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        503:
          description: Returns error response code indicates that the server is not
            ready to handle the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusServiceUnavailableError'
      security:
      - services_token: []
  /users/{userId}/connections:
    get:
      tags:
        - Connections
      summary: List all connections
      description: >-
        Returns a list of connections belonging to this user. Each entry in the
        array is a separate object. If no data is returned, the resulting array
        will be empty.
      operationId: getConnections
      parameters:
        - name: userId
          in: path
          description: User identifier.
          required: true
          schema:
            type: string
        - name: filter
          in: query
          description: >-
            Connections filters, id, status, institution.id. e.g
            institution.id.eq('AU00000')
          schema:
            type: string
      responses:
        '200':
          description: Returns details of connections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionsGetResponseResource'
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                    Bad Request:
                     value:
                      type: list
                      correlationId: ac5ah5i
                      data:
                        - type: error
                          title: Parameter not valid.
                          code: parameter-not-valid
                          detail: ID value is not valid.
                          source:
                            parameter: id
                    Invalid Filters:
                      value:
                        type: list
                        correlationId: ac5ah55
                        data:
                          - type: error
                            code: parameter-not-valid
                            title: Parameter value is not valid
                            detail: The provided filter parameter is in invalid format or unsupported
                            source:
                              parameter: filter
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: >-
            Returns error response code indicates that the server is not ready
            to handle the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusServiceUnavailableError'
      security:
        - services_token: []
  /users/{userId}/connections/refresh:
    post:
      tags:
        - Connections
      summary: Refresh all connections
      description: Use this to refresh all connections belonging to the specified user.
      operationId: refreshConnections
      parameters:
        - name: userId
          in: path
          description: The identifier of the user.
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Returns a created jobs resource, if the operation succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionsRefreshResource'
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      security:
        - services_token: []
  /users/{userId}/connections/{connectionId}:
    get:
      tags:
        - Connections
      summary: Retrieve a connection
      description: >-
        Use this to retrieve details of a specific connection. Note that due to
        security the loginId, password, securityCode are never returned.
      operationId: getConnection
      parameters:
        - name: userId
          in: path
          description: The identifier of the user.
          required: true
          schema:
            type: string
        - name: connectionId
          in: path
          description: The identifier of the connection.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns details of a connection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionGetResponseResource'
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          description: >-
            Error status response code indicates that the request has not been
            applied because it lacks valid authentication credentials for the
            target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: >-
            Returns error response code indicates that the server is not ready
            to handle the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusServiceUnavailableError'
      security:
        - services_token: []
    delete:
      tags:
        - Connections
      summary: Delete a connection
      description: >-
        Permanently deletes a connection. This does not include the existing
        account and transaction data associated with it. This can not be undone.
      operationId: deleteConnection
      parameters:
        - name: userId
          in: path
          description: The identifier of the user.
          required: true
          schema:
            type: string
        - name: connectionId
          in: path
          description: The identifier of the connection.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Returns an empty body if the delete succeeded.
          content: {}
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: >-
            Returns error response code indicates that the server is not ready
            to handle the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusServiceUnavailableError'
      security:
        - services_token: []
  /users/{userId}/connections/{connectionId}/refresh:
    post:
      tags:
        - Connections
      summary: Refresh a connection
      description: >-
        Use this to refresh an existing connection. This will not return a new
        connection. Instead will return a job resource which is resonsible for
        refreshing the connection and fetching data asynchronously. Use this job
        resource to track the connections progress.
      operationId: refreshConnection
      parameters:
        - name: userId
          in: path
          description: The identifier of the user.
          required: true
          schema:
            type: string
        - name: connectionId
          in: path
          description: The identifier of the connection.
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Returns a created job resource, if the operation succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponseResource'
        '400':
          description: >-
            Returns error that server cannot or will not process the request due
            to something that is perceived to be a client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: >-
            Error that access is forbidden and tied to the application logic,
            such as insufficient rights to a resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenAccessError'
        '404':
          description: Returns error indicating that server can't find requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Returns error response code indicates that the server encountered an
            unexpected condition that prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '503':
          description: >-
            Returns error response code indicates that the server is not ready
[...]
